In [1]:
import pandas as pd

In [18]:
data = pd.read_csv("./insurance_pre.csv")

In [19]:
df = pd.get_dummies(data, drop_first=True)

In [21]:
df.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400     False        True
1   18  33.770         1   1725.55230      True       False
2   28  33.000         3   4449.46200      True       False
3   33  22.705         0  21984.47061      True       False
4   32  28.880         0   3866.85520      True       False

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         1338 non-null   int64
 1   bmi         1338 non-null   float64
 2   children    1338 non-null   int64
 3   charges     1338 non-null   float64
 4   sex_male    1338 non-null   bool
 5   smoker_yes  1338 non-null   bool
dtypes: bool(2), float64(2), int64(2)
memory usage: 44.6 KB

In [23]:
df.shape

(1338, 6)

In [24]:
df = df.drop_duplicates()

In [25]:
df.shape

(1337, 6)

In [26]:
df.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400     False        True
1   18  33.770         1   1725.55230      True       False
2   28  33.000         3   4449.46200      True       False
3   33  22.705         0  21984.47061      True       False
4   32  28.880         0   3866.85520      True       False